@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'spo-r';
    src: url('../font/SpoqaHanSansNeo-Regular.ttf');
}

body {
    font-family: 'spo-r';
}


/* -----------------header content----------- */

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.mask-show {
    display: block;
}

/*  */

.nav-content {
    position: fixed;
    top: 146px;
    left: 0;
    z-index: 999;
    width: 100%;
    border-top: 1px solid #e2e5eb;
    transition: 0.0.1s;
    /*  */
}
.nav-content-scroll {
    transform: translateY(-78px);
}

.nav-content>li {
    background: #fff;
    padding-bottom: 10px;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    /*  */
    display: none;
}

.nav-content>li.active {
    display: block;
}

.nav-content>li .inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1280px;
    margin: 0 auto;
}

.nav-content>li .nav-content-left {
    width: 320px;
    padding-top: 106px;
    margin: 0 auto;
    text-align: center;
}

.nav-content>li:nth-child(1) .nav-content-left {
    background: url(../img/header/gov.png)no-repeat center top;
}

.nav-content>li:nth-child(2) .nav-content-left {
    background: url(../img/header/citizn.png)no-repeat center top;
}

.nav-content>li:nth-child(3) .nav-content-left {
    background: url(../img/header/money.png) no-repeat center top;
}

.nav-content>li:nth-child(4) .nav-content-left {
    background: url(../img/header/rule.png) no-repeat center top;
}

.nav-content>li:nth-child(5) .nav-content-left {
    background: url(../img/header/call.png) no-repeat center top;
}

.nav-content>li .nav-content-left h2 {
    font-size: 24px;
    letter-spacing: -0.6px;
    color: #222;
    font-weight: bold;
}

.nav-content>li .nav-content-left>p {
    margin-top: 16px;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: #444;
    font-weight: 400;
}

.nav-content>li .nav-content-right {
    width: 960px;
}

.nav-content>li .nav-content-right .nav-content-de1 {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.nav-content>li .nav-content-right .nav-content-de1>li {
    width: calc(100% / 3);
    padding: 0 30px;
    vertical-align: top;
    margin-bottom: 54px;
}

.nav-content>li .nav-content-right .nav-content-de1>li>a {
    display: block;
}

.nav-content>li .nav-content-right .nav-content-de1>li>a h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #222;
    position: relative;
    display: block;
    position: relative;
}

.nav-content>li .nav-content-right .nav-content-de1>li>a .After::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(135deg);
}

.nav-content>li .nav-content-right .nav-content-de1>li>a .After-show::after{
       position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(deg);
}

.nav-content>li .nav-content-right .nav-content-de1>li>a>p {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #e2e5eb;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.33px;
    color: #777;
    word-break: keep-all;
}

.nav-content>li .nav-content-right .nav-content-de1 .nav-conetnt-de2 {
    margin-top: 16px;
}

.nav-content>li .nav-content-right .nav-content-de1 .nav-content-de2 li {
    margin-top: 8px;
    line-height: 19px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #222;
    /* 제이쿼리 */
    display: none;
}

.nav-content>li .nav-content-right .nav-content-de1 .nav-content-de2 li.show {
    display: block;
}

.nav-content>li .nav-content-right .nav-content-de1 .nav-content-de2 li a {
    padding-left: 12px;
    position: relative;
    font-size: 15px;
    letter-spacing: -0.38px;
    font-weight: 700;
    color: #444;
}

.nav-content>li .nav-content-right .nav-content-de1 .nav-content-de2 li:hover a {
    color: #006AE2;
}

.nav-content>li .nav-content-right .nav-content-de1 .nav-content-de2 li a::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #888;
}

/* 돋보기 */

.header-search {
    position: absolute;
    padding-bottom: 64px;
    padding-top: 40px;
    z-index: 999;
    background: #fff;
    left: 0;
    width: 100%;
    top: 146px;
    border-top: 1px solid #e2e5eb;
    display: none;
}

.header-search-active {
    display: block;
}

.header-search .inner {
    width: 620px;
    margin: 0 auto;
}

.header-search .inner .head-search-up {
    position: relative;

}

.header-search .inner .xbtn {
    position: absolute;
    right: -64px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../img/xicon.png) no-repeat center;
    cursor: pointer;
}

.header-search .inner .findbox {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.45px;
    color: #888;
    padding: 11px 72px 11px 24px;
    border: 2px solid #222;
    outline: none;
    border-radius: 8px;
    width: 100%;
    background: url(../img/header/icon_search_main.png) no-repeat right;
    background-position: 570px center;
}

.header-search .inner .head-search-down {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 40px;
}

.header-search .inner .head-search-down .serch-left {}

.header-search .inner .head-search-down h2 {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.header-search .inner .head-search-down .search-left .love-find {
    margin-top: 20px;
    width: 280px;
    margin-top: 20px;
}

.header-search .inner .head-search-down li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    height: 20px;
}

.header-search .inner .head-search-down li a {
    display: block;
    margin-left: 8px;
    font-size: 15px;
    letter-spacing: -0.15px;
    color: #222;
    height: 20px;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header-search .inner .head-search-down li:hover a {
    text-decoration: underline;
}

.header-search .inner .head-search-down li b {
    display: block;
    font-size: 11px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #6f7681;
    border-radius: 4px;
}

.header-search .inner .head-search-down li .blue {
    background-color: #006ae2;
}

.header-search .inner .head-search-down .search-right .love-service {
    width: 280px;
    margin-top: 20px;
}

/* 햄버거 */

.hamburger {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 110px);
    background: #fff;
    z-index: 9999;
    padding-bottom: 0;
    padding-top: 0;
    border-top: 0;
    z-index: 2222;
    display: none;
}

.hamburger-active {
    display: block;
}

.hamburger em {
    display: block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -0.28px;
    color: #487bd0;
    border: 1px solid #b4c4f7;
    border-radius: 12px;
    width: 42px;
    height: 18px;
    line-height: 16px;
    margin-left: 6px;
    text-align: center;
}

.hamburger .share {
    position: relative;
}

.hamburger .share::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 12px;
    height: 12px;
    background: url(../img/ico-link.png) no-repeat center right;
}

.hamburger .ham-up {}

.hamburger .ham-up .inner {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}


.hamburger .ham-up img {}

.hamburger .ham-up p {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.hamburger .ham1 {
    overflow-y: scroll;
    height: calc(100% + -220px);
}

.hamburger .ham1>li {
    margin-bottom: 24px;
    border-top: 1px solid #e2e5eb;
}

.hamburger .ham1>li h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    letter-spacing: -0.6px;
    margin-left: 40px;
    margin-top: 40px;
}

.hamburger .ham1>li .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hamburger .ham1>li .ham2 {
    width: 990px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hamburger .ham1>li .ham2>li {
    width: calc(100% / 3);
    padding-left: 30px;
}

.hamburger .ham1>li .ham2>li .ham-cotent {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hamburger .ham1>li .ham2>li .ham-cotent>a {
    display: block;
    font-size: 18px;
    letter-spacing: -0.45px;
    color: #222;
    font-weight: bold;
}

.hamburger .ham1>li .ham2>li .ham3 {}

.hamburger .ham1>li .ham2>li .ham3 li {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.hamburger .ham1>li .ham2>li .ham3 li a {
    display: block;
    font-size: 15px;
    color: #444;
    font-weight: 500;
    letter-spacing: -0.38px;
}

/* ---------header------------ */

header {
    position: relative;
    z-index: 100;
}

/*윗줄 */
header .header-up {
    background: #033075;
}

header .header-up .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

header .header-up .headup-left {
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 47px;
    color: #fff;
    background: url(../img/header/eg_logo.png) no-repeat center left;
}

header .header-up .headup-right {}

header .header-up .headup-right .de1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header .header-up .headup-right .de1>li {}

header .header-up .headup-right .de1>li>a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    display: block;
}

header .header-up .headup-right .de1>li:hover>a {
    text-decoration: underline;
}

header .header-up .headup-right .de1 .language {
    position: relative;
}

/* language */
header .header-up .headup-right .de1 .language .de2 {
    display: none;
    position: absolute;
    top: 26px;
    left: -16px;
    z-index: 9999;
    padding: 5px 0;
    width: 96px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
}

header .header-up .headup-right .de1 .language>a>span {
    display: inline-block;
    margin-left: 5px;
    width: 9px;
    height: 9px;
    transform: rotate(-135deg);
    border-top: 1.2px solid #fff;
    border-left: 1.2px solid #fff;
}

header .header-up .headup-right .de1 .language>a>span.active {
    transform: rotate(45deg);
}

header .header-up .headup-right .de1 .language .de2 li {}

header .header-up .headup-right .de1 .language .de2 li>a {
    padding: 5px;
    width: 100%;
    height: 100%;
    background: url(../img/ico-link.png)no-repeat center right;
    display: block;
    color: black;
    font-weight: 900;
}

header .header-up .headup-right .de1 .language .de2 li:hover a {
    background-color: #EFF1F5;
}

header .header-up .headup-right .de1 .child {
    padding-right: 18px;
    background: url(../img/header/share.png) no-repeat center right;
}

header .header-up .headup-right .de1>li:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

header .header-up .headup-right .de1>li:last-child div {
    color: white;
}

header .header-up .headup-right .de1>li:last-child div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-up .headup-right .de1>li:last-child .zoom span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

header .header-up .headup-right .de1>li:last-child .zoom .zoom-minus {
    background: url(../img/header/minus.png) no-repeat center;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

header .header-up .headup-right .de1>li:last-child .zoom .zoom-text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

header .header-up .headup-right .de1>li:last-child .zoom .zoom-plus {
    background: url(../img/header/plus.png) no-repeat center;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* ----------------아랫줄---------------------- */

/* 스크롤 될때 ~~~~제이쿼리 */
header .header-down-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid #e2e5eb;
    background: #fff;
}

header .header-down .inner-active {
    width: 1280px;
    height: 68px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s;
}

/* 스크롤 될때 ~~~~제이쿼리 */
header .header-down {
    border-bottom: 1px solid #e2e5eb;
    background: #fff;
    transition: all 0.2s;
}

header .header-down .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}

header .header-down img {}


header .header-down .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

header .header-down .header-nav li {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #222;
    height: 100%;
}

header .header-down .header-nav li a {
    display: block;
    line-height: 110px;
    transition: all 0.2s;
}
header .header-down .header-nav li a.scroll {
    font-size: 18px;
    line-height: 62px !important;
}

header .header-down .header-nav li a.border {
    line-height: 106px;
    border-bottom: 4px solid #006AE2;
    transform: translateY(2px);
}

header .header-down .header-nav li:hover a {
    color: #006AE2;
}

header .header-down .header-icon {}

header .header-down .header-icon ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72px;
    height: 24px;
}

header .header-down .header-icon ul li {}

header .header-down .header-icon ul li a {
    display: block;
}

header .header-down .header-icon ul li a img {
    width: 24px;
    height: 24px;
}

/* ---------banner-up------------ */

.banner-up {
    width: 100%;
    height: 440px;
}

.banner-up .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.banner-up .inner .left-side {
    width: calc(100% - 440px);
    height: 400px;
}

.banner-up .inner .left-side .banner-back {
    width: 840px;
    height: 310px;
    position: relative;
    background: url(../img/banner-up/hanner1.jpg) no-repeat center/cover;
    border-radius: 16px;
}

.banner-up .inner .left-side .banner-back .banner-btns {
    position: absolute;
    display: flex;
    left: 45px;
    top: 250px;
    padding: 0 10px;
    height: 30px;
    border-radius: 15px;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
}

.banner-up .inner .left-side .banner-back .banner-btns p {
    color: white;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -1px;
    margin: 0 5px;
}

.banner-up .inner .left-side .banner-back .banner-btns .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-up .inner .left-side .banner-back .banner-btns .btns span {
    display: block;
    width: 20px;
    height: 30px;
}

.banner-up .inner .left-side .banner-back .banner-btns .btns .prev {
    background: url(../img/ico-swiper-prev.png) no-repeat center;
}

.banner-up .inner .left-side .banner-back .banner-btns .btns .play {
    background: url(../img/ico-swiper-stop.png)no-repeat center;
}

.banner-up .inner .left-side .banner-back .banner-btns .btns .next {
    background: url(../img/ico-swiper-next.png)no-repeat center;
}

.banner-up .inner .left-side .find {
    margin-top: 30px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-up .inner .left-side .find h2 {
    width: 120px;
    line-height: 62px;
    font-size: 16px;
    font-weight: 900;
    color: #333;
}

/* find-chart 작업해주세용~ html 도!!! */
.banner-up .inner .left-side .find .findchart {
    margin: 0 30px 0 0;
    width: 150px;
    border-bottom: 2px solid #333;
    position: relative;
}

.banner-up .inner .left-side .find .findchart::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 0;
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
}

.banner-up .inner .left-side .find .findchart ul {
    position: absolute;
    top: 47px;
    background-color: white;
    padding: 20px 12px;
    border: 1px solid #e2e5eb;
    border-radius: 7px;
    background: #fff;
    z-index: 111;
    display: none;
}

.banner-up .inner .left-side .find .findchart ul li {
    margin-bottom: 5px;
}
.banner-up .inner .left-side .find .findchart ul li:last-child {
    margin: 0;
}

.banner-up .left-side .findchart .bx-wrapper {
    box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    margin: 0;
}

.banner-up .left-side .findchart .chartitem {line-height: 41px;}

.banner-up .inner .left-side .find .findchart ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -1px;
}
.banner-up .inner .left-side .find .findchart ul li:hover a {
    text-decoration: underline;
}
.banner-up .inner .left-side .find .findchart ul li a span {
    margin-right: 2px;
    font-weight: 900;
}

.banner-up .inner .left-side .find .findbox {
    width: calc(100% - 280px);
    height: 64px;
    border: 2px solid #3382e9;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    background: url(../img/banner-up/banner-find.png)no-repeat;
    background-position: calc(100% - 20px);
    outline: none;
}

.banner-up .inner .right-side {
    width: 400px;
    height: 400px;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
    box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.06);
    padding: 70px 26px 0 26px;
    text-align: center;
}

.banner-up .inner .right-side img {}

.banner-up .inner .right-side p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 900;
    color: #333;
}

.banner-up .inner .right-side .btn {
    margin: 40px 0 0;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    background: #3382e9;
    border-radius: 8px;
}

.banner-up .inner .right-side .login-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.banner-up .inner .right-side .login-down .logleft {
    font-size: 14px;
    line-height: 22px;
    color: #666;
    display: flex;
    gap: 17px;
    justify-content: space-between;
    align-items: center;
}

.banner-up .inner .right-side .login-down .logleft a:first-child {
    position: relative;
}

.banner-up .inner .right-side .login-down .logleft a:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -8px;
    display: block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
}

.banner-up .inner .right-side .login-down .logright {}

.banner-up .inner .right-side .login-down .logright a {
    font-size: 14px;
    line-height: 22px;
    color: #666;
}


/* --------service------------- */

.service {
    width: 100%;
    height: 305px;
    background: #f5f7fa;
}

.service .inner {
    width: 1280px;
    margin: 0 auto;
    padding: 35px 0;
}

.service .inner .service-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.service .inner .service-up .up-right {
    display: flex;
    gap: 10px;
    font-size: 14px;
}
.service .inner .service-up h2 {
    margin-right: 35px;
    margin-left: 21px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.service .inner .service-up .up-right p:first-child {
    padding: 0 0 0 24px;
    position: relative;
    background: url(../img/service/option.png) no-repeat left;
}

.service .inner .service-up .up-right p:first-child::after {
    position: absolute;
    content: "";
    display: block;
    background: #dce1e9;
    width: 1px;
    height: 12px;
    top: 3px;
    right: -12px;
}

.service .inner .service-up .up-right p:last-child {
    margin-left: 10px;
    padding-left: 32px;
    background: url(../img/service/menu.png) no-repeat center left 10px;
}
/* 배너 */
.service .service-banner {
    margin: 20px 0 0;
    padding: 0 34px 40px 34px;

}

.service .inner .service-banner .ser {
    width: 137px;
    height: 140px;
}

.service .inner .service-banner .ser a {
    display: block;
    width: 136px;
    height: 140px;
    text-align: center;
    border-radius: 15px;
    background: #fff;
    padding-top: 1px;
}

.service .inner .service-banner span {
    border-radius: 50%;
    display: block;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: 900;
    margin: 24px auto 15px;
}

.service .inner .service-banner .share {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0;
}

.service .inner .service-banner span.red {
    background-color: #f38;
}

.service .inner .service-banner span.green {
    background-color: #009973;
}

.service .inner .service-banner .ser p {
    text-align: center;
}

.service .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    position: relative;
    width: 1280px;
    height: 180px;
    padding: 0 10px;
    max-width: none !important;
}

.service .bx-wrapper .bx-controls-direction .bx-prev {
    top: 50%;
    left: -34px;
    background: url(../img/service/ico-swiper-prev2.png) no-repeat center;
    z-index: 6;
    height: 32px;
    width: 32px;
}

.service .bx-wrapper .bx-controls-direction .bx-next {
    top: 50%;
    right: -34px;
    background: url(../img/service/ico-swiper-next2.png) no-repeat center;
    z-index: 6;
    width: 32px;
    height: 32px;
    padding: 0 10px;
}

.service .bx-viewport {
    overflow: visible !important;
}

.service .ser-banner-wrap {
    width: 1280px;
    height: 240px;
    overflow: hidden;
}
/* overflow hidden 을 하면 < >이 안보이게 되는데 어캐해요? */


/* ---------eight-box------------ */

.eight-box {
    width: 1280px;
    height: 840px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 220px 220px 140px 140px;
    gap: 40px;
}

.eight-box>* {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #e2e5eb;
}

.eight-box h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.eight-box .inner {
    width: 100%;
    height: 100%;
}

/* -------one-stop------------ */
.eight-box .one-stop {
    grid-column: 1/3;
    grid-row: 1/2;
}

.eight-box .one-stop .one-stop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eight-box .one-stop .one-stop-up .osup-right {
    display: flex;
    align-items: center;
}

.eight-box .one-stop .one-stop-up .osup-right P {
    padding-left: 10px;
    margin-left: 8px;
    margin-right: 15px;
    font-size: 14px;
    color: #3382e9;
    font-weight: 400;
}
.eight-box .one-stop .one-stop-up .osup-right P:hover {text-decoration: underline;}

.eight-box .one-stop .one-stop-up .osup-right P:last-child {
    position: relative;
}

.eight-box .one-stop .one-stop-up .osup-right P:last-child::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 4px;
    width: 1px;
    height: 10px;
    background: #c1d9f8;
}

.eight-box .one-stop .one-stop-up .osup-right P img {
    width: 14px;
    height: 14px;
}

/* onestop banner---------------------------------------- */

.eight-box .one-stop .one-stop-banner li span {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.eight-box .one-stop .one-stop-banner li:nth-child(1) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop1.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(2) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop2.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(3) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop3.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(4) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop4.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(5) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop5.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(6) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop6.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(7) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop7.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(8) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop8.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(9) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop9.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(10) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop10.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li:nth-child(11) span {
    display: block;
    width: 70px;
    height: 70px;
    background: #f5f7fa url(../img/8box/one-stop11.png) no-repeat center;
}

.eight-box .one-stop .one-stop-banner li {
    width: 87px;
}

.eight-box .one-stop .one-stop-banner li p {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 15px;
}

.eight-box .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
    width: 729px;
    height: 140px;
    margin: 0 auto;
    max-width: 729px !important;
    margin-top: 24px;
}

.eight-box .bx-viewport {
    width: 100% !important;
    height: 100% !important;
    position: static !important;
}

.eight-box .one-stop .bx-wrapper .bx-controls-direction .bx-prev {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    outline: 0;
    width: 32px;
    height: 32px;
    background: url(../img/8box/one-stop-prev.png) no-repeat center;
    z-index: 9;
}

.eight-box .one-stop .bx-wrapper .bx-controls-direction .bx-next {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    outline: 0;
    width: 32px;
    height: 32px;
    background: url(../img/8box/one-stop-next.png) no-repeat center;
    z-index: 9;
}

.eight-box .one-stop .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.eight-box .one-stop .bx-wrapper .bx-pager.bx-default-pager a.active {
    width: 16px;
    background: #3382e9;
    border-radius: 3px;
}

.eight-box .one-stop .bx-wrapper .bx-pager.bx-default-pager a {
    width: 6px;
    height: 6px;
    background: #c7cfdd;
    opacity: 1;
}

.eight-box .one-stop .one-stop-banner li:hover p {
    text-decoration: underline;
}

/* -------notice------------ */
.eight-box .notice {
    grid-column: 3/4;
    grid-row: 1/2;
}

.eight-box .notice .notice-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eight-box .notice .notice-down {
    margin-top: 24px;
}

.eight-box .notice .notice-down>p {
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    line-height: 27px;
}

.eight-box .notice .notice-down .blue {
    color: #3382e9;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
}

.eight-box .notice .notice-down p:hover {
    text-decoration: underline;
}

.eight-box .notice .notice-down span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #777;
}

/* -------money------------ */
.eight-box .money {
    grid-column: 1/3;
    grid-row: 2/3;
}

.money .money-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.eight-box .money .money-down ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
}

.eight-box .money .money-down ul li {}

.eight-box .money .money-down ul li a {
    display: block;
    padding: 0 6px;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.38px;
    color: #333;
    margin: 0 auto;
}

.eight-box .money .money-down ul li:hover a {
    text-decoration: underline;
}

.eight-box .money .money-down ul li img {}

.eight-box .money .money-down ul li p {}

/* -------four-box------------ */
.eight-box .four-box {
    grid-column: 3/4;
    grid-row: 2/3;
    border: none;
    background-color: #f5f9ff;
}

.eight-box .four-box .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.eight-box .four-box .four-box-item {
    padding: 20px 0;
}

.eight-box .four-box .four-box-item:first-child {
    border-bottom: 1px solid #E1EDFD;
    border-right: 1px solid #E1EDFD;
}

.eight-box .four-box .four-box-item:nth-child(2) {
    border-bottom: 1px solid #E1EDFD;
}

.eight-box .four-box .four-box-item:nth-child(3) {
    border-right: 1px solid #E1EDFD;
}

.eight-box .four-box .four-box-item img {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.eight-box .four-box .four-box-item p {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.eight-box .four-box .four-box-item:hover p {
    text-decoration: underline;
}

/* -------wrong-take------------ */

.eight-box .wrong-take {
    grid-row: 3/4;
    grid-column: 1/2;
}

.eight-box .wrong-take .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.eight-box .wrong-take .inner img {}

.eight-box .wrong-take .inner p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.eight-box .wrong-take:hover .inner p {
    text-decoration: underline;
}

/* -------open-service------------ */
.eight-box .open-service {
    grid-row: 4/5;
    grid-column: 1/2;
}

.eight-box .open-service .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.eight-box .open-service .inner img {}

.eight-box .open-service .inner p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.eight-box .open-service:hover .inner p {
    text-decoration: underline;
}

/* -------news------------ */
.eight-box .news {
    grid-column: 2/3;
    grid-row: 3/5;
}

.eight-box .news .news-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e5eb;
    gap: 26px;
}

.eight-box .news .news-up .news-nav {
    display: flex;
    width: 100%;
    column-rule: #333;
    width: 350px;
    gap: 12px;
}

.eight-box .news .news-up .news-nav li {
    height: 100%;
    text-align: center;margin-bottom: 16px;
}

.eight-box .news .news-up .news-nav li a{
    padding-bottom: 16px;

}

.eight-box .news .news-up .news-nav li a.active {
    border-bottom: 1px solid;
    font-weight: 900;
}
.eight-box .news .news-up .news-nav li:hover a {
    text-decoration: underline;
}

.eight-box .news .news-content {
    padding-top: 20px;
}

.eight-box .news .news-content .news-item {
    margin-bottom: 10px;
}

.eight-box .news .news-content .news-item a {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.eight-box .news .news-content .news-item a p:first-child {
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 18px;
    font-weight: 700;
}

.eight-box .news .news-content .news-item a p:last-child {
    color: #777;
    margin-top: 5px;
    line-height: 18px;
}

.eight-box .news .news-content .news-item a:hover p {
    text-decoration: underline;
}

/* -------box-banner------------ */
.eight-box .box-banner {
    grid-column: 3/4;
    grid-row: 3/5;
    border: none;
    background: url(../img/8box/8box-banner.png) no-repeat center/cover;
}

.eight-box .box-banner .inner {
    position: relative;
}

.eight-box .box-banner .inner .button {
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    z-index: 11;
    background: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.eight-box .box-banner .inner .button p {
    color: white;
    margin: 0 7px;
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    letter-spacing: -1px;
}

.eight-box .box-banner .inner .button span:nth-child(2) {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/ico-swiper-prev.png) no-repeat center/cover;
}

.eight-box .box-banner .inner .button img {
    width: 10px;
    height: 15px;
}

.eight-box .box-banner .inner .button span:last-child {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/ico-swiper-next.png) no-repeat center/cover;
}

/* ---------banner-down------------ */

.banner-down {
    width: 100%;
    height: 112px;
    margin: 40px 0 0;
    padding: 16px 0;
    border-top: 1px solid #d9d9d9;
    background-color: white;
}

.banner-down .inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px 0 200px;
}

.banner-down .inner p {
    position: absolute;
    left: 0;
    padding: 25px 0;
    font-size: 18px;
}

.banner-down .inner .down-slider {
    width: 1080px;
}

.banner-down .inner .down-slider img {
    width: 200px;
    border: 1px solid #ddd;
}

.banner-down .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
}

.banner-down .bx-wrapper .bx-controls-direction .bx-next {
    position: absolute;
    right: -30px;
    width: 12px;
    height: 22px;
    background: url(../img/service/ico-swiper-next2.png);
    top: 50%;transform: translateY(50%);
    z-index: 9;
}

.banner-down .bx-wrapper .bx-controls-direction .bx-prev {
    position: absolute;
    left: -30px;
    width: 12px;
    height: 22px;
    background: url(../img/service/ico-swiper-prev2.png);
    top: 50%;transform: translateY(50%);
    z-index: 9;
}

/* ----------footer----------- */

footer {
    border-top: 1px solid #d9d9d9;
    background-color: #f5f7fa;
}

footer .inner {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

/* up */
footer .foot-up {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

footer .foot-up .inner {
    justify-content: space-between;
    align-items: center;
}

footer .foot-up .inner .foot-up-left {
    display: flex;
    font-size: 15px;
    gap: 30px;
}

footer .foot-up .inner .foot-up-left a {
    color: #006ae2;
    text-decoration: underline;
}

footer .foot-up .inner .foot-up-left>*:hover {
    text-decoration: underline;
    font-weight: 900;
}

footer .foot-up .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

footer .foot-up .icon li {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #EDEDED;
    border: 1px solid #e8e8e8;
}

footer .foot-up .icon li a {
    display: block;
    width: 100%;
    height: 100%;
}

footer .foot-up .icon li:nth-child(1) a {
    background: url(../img/footer/logo_sns.png)no-repeat 0 50%;
    background-size: cover;
}

footer .foot-up .icon li:nth-child(2) a {
    background: url(../img/footer/logo_sns.png)no-repeat 0 50%;
    background-size: cover;
    background-position: -33px;
}

footer .foot-up .icon li:nth-child(3) a {
    background: url(../img/footer/logo_sns.png)no-repeat 0 50%;
    background-size: cover;
    background-position: -68px;
}

footer .foot-up .icon li:nth-child(4) a {
    background: url(../img/footer/logo_sns.png)no-repeat 0 50%;
    background-size: cover;
    background-position: -103px;
}

footer .foot-up .icon li:nth-child(5) a {
    background: url(../img/footer/logo_sns.png)no-repeat 0 50%;
    background-size: cover;
    background-position: -135px;
    
}

/* mid */
footer .foot-mid {}

footer .foot-mid .inner {
    padding-top: 20px;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
}

footer .foot-mid .inner img {
    width: 110px;
    height: 36px;

}

footer .foot-mid .inner .foot-mid1 {
    display: flex;
    gap: 100px;
}

footer .foot-mid .inner .foot-mid1 .foot-mid1-left p {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 26px;
}

footer .foot-mid .inner .foot-mid1 .foot-mid1-right p {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 26px;
}

footer .foot-mid .foot-mid2 {
    margin-top: 5px;
}

footer .foot-mid .foot-mid2 .mid2-item {
    width: 300px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

footer .foot-mid .foot-mid2 .mid2-item:hover {
    text-decoration: underline;
    font-weight: 900;
}

footer .foot-mid .foot-mid2 .mid2-item span {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-top: 1.5px solid #7c7c7c;
    border-right: 1.5px solid #7c7c7c;
    transform: translateY(-50%) rotate(45deg);
}

/* ------down-------- */
footer .foot-down {
    padding-bottom: 30px;
}

footer .foot-down .inner {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

footer .foot-down p {
    font-size: 14px;
    color: #838383;
    letter-spacing: 0;
}

footer .foot-down img {
    width: 60px;
    height: 42px;
}